<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">e-Wallet</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">Process e-Wallet Payment</h4>
        </div>
        <div class="card-body">
          <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
          </div>
          <fieldset *ngIf="step == 1">
            <legend>Customer Details</legend>
            <div class="form">
              <div class="form-horizontal">
                <div class="form-group has-label">
                  <label> Customer Number * </label>
                  <input type="text" name="cust_num" class="form-control" [(ngModel)]="cust_num" />
                </div>
                <div class="category form-category">* Required fields</div>
                <div class="text-right">
                  <span class="text text-danger" *ngIf="has_error">{{ error_msg }} </span>
                  <button class="btn btn-info" (click)="validateCustomer()" [disabled]="loading">
                    {{ loading ? 'Processing...' : 'Validate Customer' }} <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="step == 2">
            <legend>Post Payment</legend>
            <div class="form">
              <div class="form-horizontal">
                <div class="form-group has-label">
                  <label> Customer Name * </label>
                  <input type="text" name="cust_name" class="form-control"
                    [(ngModel)]="cust_name" disabled="disabled" />
                </div>
                <div class="form-group has-label">
                  <label> Account Number * </label>
                  <input type="text" name="account_no" class="form-control"
                    [(ngModel)]="account_no" />
                </div>
                <div class="form-group has-label">
                  <label> Bank Number * </label>
                  <input type="text" name="bankn" class="form-control" disabled="disabled"
                    [(ngModel)]="bankn" />
                </div>
                <div class="form-group has-label">
                  <label> Amount </label>
                  <input type="text" name="amount" class="form-control"
                    [(ngModel)]="amount" />
                </div>
                <div class="form-group has-label">
                  <label> Plant </label>
                  <select class="form-control" name="plant" [(ngModel)]="plant">
                    <option disabled="disabled" selected="selected">Select Plant </option>
                    <option [value]="record.plant" *ngFor="let record of records">{{ record.plant_description }}
                    </option>
                  </select>
                </div>
                <div class="category form-category">* Required fields</div>
                <div class="text-right">
                  <button class="btn btn-info" (click)="setPage(1)">Back</button>
                  <button class="btn btn-info" (click)="postPayment()" [disabled]="loading">
                    {{ loading ? 'Processing...' : 'Submit' }} <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="step == 3" class="text-center">
            <div class="printSection">
              <legend class="text-center">Down Payment</legend>
              <div class="form-horizontal">
                <div class="row">
                  <table class="table table-striped">
                    <tr>
                      <th>Customer Name</th>
                      <td>{{ cust_name }}</td>
                    </tr>
                    <tr>
                      <th>Customer Address</th>
                      <td>{{ custDetails.addressField }}</td>
                    </tr>
                    <tr>
                      <th>Country</th>
                      <td>{{ custDetails.countryField }}</td>
                    </tr>
                    <tr>
                      <th>Region</th>
                      <td>{{ custDetails.regionField }}</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                    </tr>
                    <tr>
                      <th>Teller Number: </th>
                      <td>{{ payment.accessTokenField }}</td>
                    </tr>
                    <tr>
                      <th>Transaction ID: </th>
                      <td>{{ tran_id }}</td>
                    </tr>
                    <tr>
                      <th>Company Code: </th>
                      <td>{{ comp_code }}</td>
                    </tr>
                    <tr>
                      <th>Payment Document: </th>
                      <td>{{ payment.docNumField }}</td>
                    </tr>
                    <tr>
                      <th>Fiscal Year: </th>
                      <td>{{ payment.fiscalYrField }}</td>
                    </tr>
                    <tr>
                      <th>Status: </th>
                      <td>{{ 'Successful' }}</td>
                    </tr>
                    <tr>
                      <th>Amount: </th>
                      <td>&#x20A6; {{ amount }}</td>
                    </tr>
                    <tr>
                      <td colspan="2" class="text-center">
                        <ngx-barcode6 [bc-format]="'MSI'" [bc-value]="payment.output_string1Field"
                          [bc-display-value]="true">
                        </ngx-barcode6>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <button id="btnPrint" class="btn btn-info" (click)="printpreview()">Print Preview</button>
          </fieldset>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>
<script>
  function print() {
    console.log('Test');
    printElement(document.getElementById("printSection"));
    // printElement(document.getElementById("printThisToo"), true, "<hr />");
    window.print();
  }

  function printElement(elem, append, delimiter) {
    var domClone = elem.cloneNode(true);

    var $printSection = document.getElementById("printSection");

    if (!$printSection) {
      var $printSection = document.createElement("div");
      $printSection.id = "printSection";
      document.body.appendChild($printSection);
    }

    if (append !== true) {
      $printSection.innerHTML = "";
    }

    else if (append === true) {
      if (typeof (delimiter) === "string") {
        $printSection.innerHTML += delimiter;
      }
      else if (typeof (delimiter) === "object") {
        $printSection.appendChlid(delimiter);
      }
    }

    $printSection.appendChild(domClone);
  }
</script>
<style>
  @media screen {
    #printSection {
      display: none;
    }
  }

  @media print {
    body * {
      visibility: hidden;
    }

    #printSection,
    #printSection * {
      visibility: visible;
    }

    #printSection {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
</style>