<div class="main-content">
  <div class="container">
    <div class="col-md-4 ml-auto mr-auto">
      <form class="form" (ngSubmit)="onLoggedin()">
        <div class="card card-login card-plain">
          <div class="card-header ">
            <div class="logo-container">
              <img src="assets/img/fsdhlogo.png" alt="" />
            </div>
          </div>
          <div class="card-body ">
            <div
              class="input-group no-border form-control-lg"
              [ngClass]="{ 'input-group-focus': focus === true }"
            >
              <span class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </div>
              </span>
              <input
                type="text"
                class="form-control"
                placeholder="Username..."
                (focus)="focus = true"
                (blur)="focus = false"
                [(ngModel)]="username" 
                name="username"
              />
            </div>
            <div
              class="input-group no-border form-control-lg"
              [ngClass]="{ 'input-group-focus': focus2 === true }"
            >
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons text_caps-small"></i>
                </div>
              </div>
              <input
                type="password"
                placeholder="Password..."
                class="form-control"
                (focus)="focus2 = true"
                (blur)="focus2 = false"
                [(ngModel)]="password"
                name="password"
              />
            </div>
          </div>
          <div class="card-footer ">
            <button type="submit" class="btn btn-info btn-round btn-lg btn-block mb-3" (click)="onLoggedin()">Login</button>
            <div class="pull-left">
            </div>
            <div class="pull-right">
              <h6><a href="#pablo" class="link footer-link">Need Help?</a></h6>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
