<div class="panel-header">
    <div class="header text-center">
      <h2 class="title">Users</h2>
    </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Users   <button class="btn btn-info btn-sm" (click)="open(classic, 'lg')">Add User</button></h4>
        </div>
        <div class="card-body">
          <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
          </div>
          <div class="table-responsive dataTables_wrapper">
            <table id="datatables" class="table table-hover" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Category</th>
                  <th>Reg Date</th>
                  <th>Status</th>
                  <th class="disabled-sorting text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows">
                  <td>{{row.userID}}</td>
                  <td>{{row.firstName}}</td>
                  <td>{{row.lastName}}</td>
                  <td>{{row.email}}</td>
                  <td>{{row.phone}}</td>
                  <td>{{row.userCategory }}</td>
                  <td>{{row.regDate | date}}</td>
                  <td>{{row.accountStatus ? 'Active' : 'Inactive'}}</td>
                  <td class="text-right">
                    <button class="btn btn-primary " (click)="edit(classic, row)">Edit Details</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>
<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h5 class="modal-title text-center">{{ isEdit ? 'Edit' : 'Add'}} User</h5>
      <button type="button" class="close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-horizontal">
        <div class="form-group has-label">
          <label> First Name * </label>
            <input type="text" name="firstName" (focus)="focusTouched = true" class="form-control" [(ngModel)]="firstName" />
        </div>
        <div class="form-group has-label">
          <label> Last Name * </label>
            <input type="text" name="lastName" (focus)="focusTouched = true" class="form-control" [(ngModel)]="lastName" />
        </div>
        <div class="form-group has-label">
          <label> Email Address * </label>
            <input type="text" name="email" (focus)="focusTouched = true" class="form-control" [(ngModel)]="email" />
        </div>
        <div class="form-group has-label">
          <label> Phone </label>
            <input type="text" name="phone" (focus)="focusTouched1 = true" class="form-control" [(ngModel)]="phone" />
        </div>
        <div class="form-group has-label">
            <label>User Category</label>
            <select class="form-control" [(ngModel)]="userCategory" name="userCategory">
              <option disabled selected>Select Option</option>
              <option value="Maker">Maker</option>
              <option value="Checker">Checker</option>
              <option value="Admin">Admin</option>
            </select>
        </div>
        <div class="category form-category">* Required fields</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <div class="left-side" style="padding-left: 24px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="accountStatus" name="accountStatus">
        <label class="form-check-label" for="exampleCheck1">Is Active</label>
      </div>
      <div class="divider"></div>
      <div class="right-side">
        <button type="button" class="btn btn-info btn-sm" (click)="addFunction()" *ngIf="!isEdit">Add</button>
        <button type="button" class="btn btn-info btn-sm" (click)="editFunction()" *ngIf="isEdit">Edit</button>
      </div>
  </div>
</ng-template>