<footer class="footer noprint">
  <div class="container-fluid">
    <div class="copyright" id="copyright">
      ©
      <script type="text/javascript" async="" src="http://my.clickdesk.com/clickdesk-ui/browser/livechat-new.js"></script>
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>{{ test | date:'yyyy'}}, Powered by
      <a href="https://www.fsdhgroup.com" target="_blank">FSDH Group</a>.
    </div>
  </div>
</footer>
