<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">ATC (At The Counter) Payment Process</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-center">Process ATC Payment</h4>
        </div>
        <div class="card-body">
          <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
          </div>
          <fieldset *ngIf="step == 1">
            <legend>Customer Details</legend>
            <div class="form">
              <div class="form-horizontal">
                <div class="form-group has-label">
                  <label> Customer Number * </label>
                  <input type="text" name="cust_num" class="form-control" [(ngModel)]="cust_num" />
                </div>
                <div class="category form-category">* Required fields</div>
                <div class="text-right">
                  <span class="text text-danger" *ngIf="has_error">{{ error_msg }} </span>
                  <button class="btn btn-info" (click)="validateCustomer()" [disabled]="loading">
                    {{ loading ? 'Processing...' : 'Validate Customer' }} <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="step == 2">
            <legend>Get Price Details</legend>
            <div class="form">
              <div class="form-horizontal">
                <div class="form-group has-label">
                  <label> Customer Name * </label>
                    <input type="text" name="cust_name" class="form-control" [(ngModel)]="cust_name" disabled="disabled" />
                </div>
                <div class="form-group has-label">
                  <label> Plant </label>
                  <select class="form-control" name="plant" [(ngModel)]="plant" (change)="OnSelectedPlant($event)">
                    <option disabled="disabled" selected="selected">Select Plant </option>
                    <option [value]="record.plant" *ngFor="let record of records">{{ record.plant_description }}
                    </option>
                  </select>
                </div>
                <div class="form-group has-label">
                  <label> Materials </label>
                  <select class="form-control" name="material" [(ngModel)]="material">
                    <option disabled="disabled" selected="selected">Select Material </option>
                    <option [value]="material.material" *ngFor="let material of materiallist">{{ material.material }}
                    </option>
                  </select>
                </div>
                <div class="form-group has-label">
                  <label> Quantity </label>
                  <input type="number" name="quantity" class="form-control" [(ngModel)]="quantity" />
                </div>
                <div class="form-group has-label">
                  <label> Region * </label>
                  <select class="form-control" name="cc_area" [(ngModel)]="cc_area">
                    <option disabled="disabled" selected="selected">Select Region</option>
                    <option [value]="region" *ngFor="let region of regions">{{ region.region_name }}</option>
                  </select>
                </div>
                <div class="form-group has-label">
                  <label> Delivery Status </label>
                  <select class="form-control" [(ngModel)]="delv_status">
                    <option disabled="disabled" selected="selected">Select Delivery Status</option>
                    <option value="D">Delivery</option>
                    <option value="S">Self Collection</option>
                  </select>
                </div>
                <div class="category form-category">* Required fields</div>
                <div class="text-right">
                  <span class="text text-danger" *ngIf="has_error">{{ error_msg }} </span>
                  <button class="btn btn-info" (click)="setPage(1)">Back</button>
                  <button class="btn btn-info" (click)="getPrice()" [disabled]="loading">
                    {{ loading ? 'Processing...' : 'Next' }} <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="step == 3">
            <legend>Post Payment</legend>
            <div class="form">
              <div class="form-horizontal">
                <div class="form-group has-label">
                  <label> Account Number * </label>
                    <input type="text" name="account_no" class="form-control" [(ngModel)]="account_no" />
                </div>
                <div class="form-group has-label">
                  <label> Bank Number * </label>
                    <input type="text" name="bankn" class="form-control" readonly="readonly" disabled="disabled" [(ngModel)]="bankn" />
                </div>
                <div class="form-group has-label">
                  <label> Amount </label>
                    <input type="text" name="order_amount" readonly="readonly" disabled="disabled" class="form-control" [(ngModel)]="order_amount" />
                </div>
                <div class="form-group has-label">
                  <label> Destination Address </label>
                    <input type="text" name="dest_address" class="form-control" [(ngModel)]="dest_address" />
                </div>
                <div class="form-group has-label">
                  <label> Destination City </label>
                    <input type="text" name="dest_city" class="form-control" [(ngModel)]="dest_city" />
                </div>
                <div class="form-group has-label">
                  <label> Destination Region </label>
                    <select class="form-control" name="dest_region" [(ngModel)]="dest_region" (change)="OnSelectedRegion($event)">
                      <option disabled="disabled" selected="selected">Select Region</option>
                      <option [value]="region.country_code" *ngFor="let region of regions">{{ region.region_name }}</option>
                    </select>
                </div>
                <div class="form-group has-label">
                  <label> Destination Country </label>
                    <input type="text" name="dest_country" (focus)="focusTouched1 = true" disabled="disabled" class="form-control" [(ngModel)]="dest_country" />
                </div>
                <div class="form-group has-label">
                  <label> Receiver Name </label>
                    <input type="text" name="receiver_name" (focus)="focusTouched1 = true" class="form-control" [(ngModel)]="receiver_name" />
                </div>
                <div class="form-group has-label">
                  <label> Split Quantity </label>
                    <input type="number" min="1" name="split_quantity" (focus)="focusTouched1 = true" class="form-control" [(ngModel)]="split_quantity" />
                </div>
                <div class="category form-category">* Required fields</div>
                <div class="text-right">
                  <span class="text text-danger" *ngIf="has_error">{{ error_msg }} </span>
                  <button class="btn btn-info" (click)="setPage(2)">Back</button>
                  <button class="btn btn-info" (click)="createAtc()" [disabled]="loading">
                    {{ loading ? 'Processing...' : 'Submit' }} <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="step == 4">
            <legend>Receipt</legend>
            <div class="form">
              <div class="form-horizontal">
                <div class="text-right">
                  <div class="row">
                    <table class="table table-striped">
                      <tr>
                        <th>Customer Name</th>
                        <td>{{ cust_name }}</td>
                      </tr>
                      <tr>
                        <th>Customer Address</th>
                        <td>{{ custDetails.addressField }}</td>
                      </tr>
                      <tr>
                        <th>Country</th>
                        <td>{{ custDetails.countryField }}</td>
                      </tr>
                      <tr>
                        <th>Region</th>
                        <td>{{ custDetails.regionField }}</td>
                      </tr>
                      <tr>
                        <td colspan="2"></td>
                      </tr>
                      <tr>
                        <th>Teller Number: </th>
                        <td>{{ teller_no }}</td>
                      </tr>
                      <tr>
                        <th>Transaction ID: </th>
                        <td>{{ tran_id }}</td>
                      </tr>
                      <tr>
                        <th>Company Code: </th>
                        <td>{{ comp_code }}</td>
                      </tr>
                      <tr>
                        <th>Payment Document: </th>
                        <td>{{ atcResponse.paymentField[0].documentField }}</td>
                      </tr>
                      <tr>
                        <th>Parent ATC Document</th>
                        <td>{{ atcResponse.parentField[0].docnumField }}</td>
                      </tr>
                      <tr>
                        <th>Order Status</th>
                        <td>{{ atcResponse.parentField[0].infoField }}</td>
                      </tr>
                      <tr>
                        <th>Fiscal Year: </th>
                        <td>{{ atcResponse.paymentField[0].fiscal_yrField }}</td>
                      </tr>
                      <tr>
                        <th>Status: </th>
                        <td>{{ 'Successful' }}</td>
                      </tr>
                      <tr>
                        <th>Amount: </th>
                        <td> {{ order_amount | currency : '&#x20A6;' }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-center">
                          <ngx-barcode6 [bc-format]="'MSI'" [bc-value]="atcResponse.barcode_string1Field"
                            [bc-display-value]="true">
                          </ngx-barcode6>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <button id="btnPrint" class="btn btn-info" (click)="printpreview()">Print Preview</button>
          </fieldset>
        </div>
        <!-- end content-->
      </div>
      <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
  </div>
  <!-- end row -->
</div>