<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Customers</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="title">
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="datatables" class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Date Created</th>
                  <th>Document</th>
                  <th>Limit</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers">
                  <td>{{ customer.firstName + ' ' + customer.lastName }}</td>
                  <td>{{ customer.email }}</td>
                  <td>{{ customer.dateCreated | date: 'MMM d, y, h:mm:ss a' }}</td>
                  <td>{{ 'Not Uploaded' }}</td>
                  <td>
                    {{ customer.customerLimit | currency }}
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger" *ngIf="customer.statusId == 1">Disable</button>
                    <button class="btn btn-sm btn-success" *ngIf="customer.statusId == 2">Enable</button>
                  </td>
                  <td>
                    <div class="responsive">
                      <button class="btn btn-sm btn-info"
                        [routerLink]="['/customer-profile/' + customer.customerId]">Profile</button>
                      <button class="btn btn-sm btn-primary"
                        [routerLink]="['/customer-accounts/' + customer.customerId]">Accounts</button>
                      <button class="btn btn-sm btn-default" (click)="select(customer, limit)">Set Limit</button>
                      <button class="btn btn-sm btn-success"
                        [routerLink]="['/customer-transactions/' + customer.customerId]">Transactions</button>
                      <button class="btn btn-sm btn-warning"
                        [routerLink]="['/customer-beneficiaries/' + customer.customerId]">Beneficiaries</button>
                      <button class="btn btn-sm btn-default" [routerLink]="['/complaints/' + customer.customerId]"
                        disabled="disabled">Complaints(0)</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
