<div class="container">
    <div class="card">
        <div *ngIf="isLoading" class="section text-center">
            <p>Loading receipt for transaction ID {{ tran_id }}....</p>
            <p><i class="fa fa-spinner fa-spin fa-3x"></i></p>
        </div>
        <div *ngIf="has_error" class="section text-center">
            <p>{{ error_msg }}</p>
        </div>
        <div id="section-to-print" *ngIf="!isLoading">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-3 pull-left">
                        <img src="/assets/img/fsdh.png" height="128px" width="160px" />
                    </div>
                    <div class="col-sm-6 text-center">
                        <h3>Dangote Cement Plc</h3>
                        <h4>Payment Receipt</h4>
                    </div>
                    <div class="col-sm-3 pull-right">
                        <img src="/assets/img/Dangote-01.png" height="128px" width="160px" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h5 class="text-center">Customer Down Payment</h5>
                </div>
                <div class="row" style="align-content: center;">
                    <table class="table table-striped">
                        <tr>
                            <th style="width: 50%;">Transaction Date</th>
                            <td style="width: 50%;">{{ tran_date | date }}</td>
                        </tr>
                        <tr>
                            <th>Customer Name: </th>
                            <td>{{ cust_name }}</td>
                        </tr>
                        <tr>
                            <th>Customer Address: </th>
                            <td>{{ cust_address }}</td>
                        </tr>
                        <tr>
                            <th>Country: </th>
                            <td>{{ country_code }}</td>
                        </tr>
                        <tr>
                            <th>Region: </th>
                            <td>{{ region }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <th>Teller Number: </th>
                            <td>{{ teller_number }}</td>
                        </tr>
                        <tr>
                            <th>Transaction ID: </th>
                            <td>{{ tran_id }}</td>
                        </tr>
                        <tr>
                            <th>Company Code: </th>
                            <td>{{ comp_code }}</td>
                        </tr>
                        <tr>
                            <th>Payment Document: </th>
                            <td>{{ doc_num }}</td>
                        </tr>
                        <tr>
                            <th>Fiscal Year: </th>
                            <td>{{ fiscal_yr }}</td>
                        </tr>
                        <tr>
                            <th>Status: </th>
                            <td>{{ status }}</td>
                        </tr>
                        <tr>
                            <th>Amount: </th>
                            <td>&#x20A6; {{ amount }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <div>
                        <ngx-barcode6 [bc-format]="'MSI'" [bc-value]="barcode" [bc-display-value]="true">
                        </ngx-barcode6>
                    </div>
                    <div class="small">
                        <p>Thank you for Banking with us.</p>
                        <p class="text-info">https://www.fsdhgroup.com</p>
                        <hr />
                        <p></p>
                        <div class="text-center">
                            <p class="text-info">
                                For enquiries kindly contact FSDH Merchant, our 24 hours Contact Center
                            </p>
                            <p>
                                +234-1-2702880
                            </p>
                            <p>
                                fsdh@fsdhgroup.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-info" onclick="window.print()">Print</button>
        </div>
    </div>
</div>