@media print {
    body * {
        visibility: hidden;
    }

    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }

    #section-to-print {
        position: absolute;
        top: 50px;
        display: table;
        margin: 0 auto;
        border: 1px solid black;
        width: 100%;
    }

    table {
        width: 70%;
        margin-left:15%; 
        margin-right:15%;
        display: table;
        border: 1px solid black;
        padding: 20px auto;
    }

    .table {
        margin: 0 auto;
        vertical-align: middle;
        display: table-cell;
    }

    hr {
        margin: 10px 0 !important;
        border: 1px solid #009ade;
        border: 1px solid var(--fsdh-light-blue);
    }

    .container { 
        visibility: hidden;
    }
}