<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Dashboard</h2>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> My Transactions</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead class="">
                <tr>
                  <th>Customer Name</th>
                  <th>Transaction Amount</th>
                  <th>Transaction Date</th>
                  <th>Transaction Type</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of rows">
                  <td>{{ item.cust_name }}</td>
                  <td>{{ item.amount | currency : '&#x20A6;' }}</td>
                  <td>{{ item.transaction_date | date}}</td>
                  <td>{{ item.transaction_type }}</td>
                  <td>{{ item.status }}</td>
                  <td><button class="btn btn-success">
                      View Details
                    </button></td>
                </tr>
                <tr *ngIf="rows.length < 1">
                  <td colspan="6" class="text-center">
                    <span>{{ loadingData }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>